$space: 1rem;

@mixin colors ($background, $border, $color) {
  background: $background;
  border-color: $border;
  color: $color;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    .container {
      margin: 4rem;
        .row {
            margin: 0;
        }
    } 
}

header {
  border-bottom: 1px solid black;
  padding-bottom: $space;
  margin-bottom: 1.618rem;
    .navbar {
      border-radius: 0;
    }
    h1 {
      font-weight: bold;
      letter-spacing: -2px;
      max-width: 100px;
        &:after {
          content: "™";
          font-size: 1rem;
          vertical-align: super;
          margin-left: 0.192rem;
        }
    }
}



@import '_card';

footer {
  text-align: center;
  margin-top: $space*2;
  color: silver;
  font-size: 0.6rem;
    .heart {
      color:#cf2e31;
    }
}